.comment {

  font-family: 'Noto Sans KR', sans-serif;

  width: 80%;
  margin: 50px auto;

  * {
    // border: 1px solid #e0e0e0;
    border: none;
    box-sizing: border-box;
  }

  .nav-bar {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    padding: 0px;
    margin: 0px;
    list-style: none;

    .nav-bar-title {
      font-size: 20px;
      width: 114px;
      margin-left: 10px;

      color: #18191c;
      font-weight: 600;
    }

    .nav-bar-item {
      cursor: pointer;

      &:hover {
        color: #00aeec;
      }

      &::after {
        content: '|';
        margin-left: 10px;
      }

      &:last-child::after {
        content: '';
        margin-left: 0px;
      }

      font-size: 13px;
      margin-left: 10px;

      color: #18191c;
      font-weight: 600;
    }

    .active {
      color: #00aeec;
    }
  }

  .replay-wrap {
    display: flex;
    margin-top: 10px;

    .bili-avatar img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-color: #f0f0f0;
    }

    .replay-box-wrap {
      display: flex;
      width: 100%;

      * {
        transition: all 0.3s ease-in-out;
      }

      .replay-box-textarea {
        width: 100%;
        height: 60px;

        border-radius: 5px;
        background-color: #f0f0f0;
        outline: none;
        resize: none;

        &:focus {
          height: 90px;

          &+.replay-box-btn {
            height: 90px;
          }
        }
      }

      .replay-box-btn {
        width: 60px;
        height: 60px;
        border-radius: 5px;
        cursor: pointer;
        color: #fff;
        background-color: #75daff;
        position: relative;

        .replay-box-btn-text {
          position: relative;
          z-index: 2;
        }

        &::after {
          content: '';
          border-radius: 5px;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          z-index: 0;
          background-color: #00aeec;
        }

        &:hover::after {
          opacity: 1;
        }
      }
    }
  }

  .comment-list {
    
    * {
      border: 1px solid #e0e0e0;
    }
    .comment-item {
      display: flex;
      align-items: center;
      margin-top: 10px;

      .comment-item-avatar img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: #f0f0f0;
      }

      .comment-item-content {
        width: 100%;
        height: 100%;
        border: 1px solid #e0e0e0;

        .user-info-name {
          font-size: 13px;
          font-weight: 600;
          // color: #636363;
        }

        .reply-info {
          display: flex;
          align-items: center;

          * {
            font-size: 13px;
            color: #636363;
            margin-right: 10px;
          }
        }
      }

    }
  }
}